/* - MASTER.RESET <<<--------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
active,
hover,
selected {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

/* main container for the page */
.main_container {
  position: relative;
  display: inline-block;
}

/* container for ui */
.ui_container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}

/* hp bar */
.health_bar_container {
  position: relative;
  width: 100%;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.hp_bar {
  width: 100%;
  background-color: red;
  height: 30px;
}

.player_hp_bar {
  position: absolute;
  background-color: #818cf8;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.player_hp_container {
  display: flex;
  justify-content: flex-end;
  border-left: 4px solid white;
}

.enemy_hp_bar {
  position: absolute;
  background-color: #818cf8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.enemy_hp_container {
  border-right: 4px solid white;
}

/* timer */
.timer {
  background-color: #85214f;
  border: 4px solid white;
  width: 100px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Press Start 2P", cursive;
}

/* game end ui */
.game_end_ui {
  position: absolute;
  color: white;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  font-family: "Press Start 2P", cursive;
}

/* instruction ui */
.instruction_title {
  position: absolute;
  font-family: "Press Start 2P", cursive;
  bottom: 90%;
  color: white;
  font-size: 130%;
}

.start_text {
  font-size: 100%;
  position: absolute;
  font-family: "Press Start 2P", cursive;
  bottom: 85%;
}

.intro_container {
  position: absolute;
  border: 0.2vb solid white;
  color: white;
  width: 50%;
  height: 50%;
  top: 20%;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
}

.intro_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

.intro_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.control_container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: 75%;
  padding-left: 10%;
  padding-bottom: 15%;
}

.enemy_pic {
  width: 40%;
  height: 50%;
  border: 1px solid white;
  border-radius: 50%;
  margin-top: 40%;
  margin-bottom: 10%;
}

.player_pic {
  width: 50%;
  height: 40%;
  border: 1px solid white;
  border-radius: 50%;
  margin-top: 48%;
  margin-bottom: 10%;
}
