/* - MASTER.RESET <<<--------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

/* Main container */
.main_container {
  position: relative;
  display: inline-block;
}

/* Player and enemy names */
.player_name,
.enemy_name {
  position: absolute;
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 100%;
  top: 12%;
}

.enemy_name {
  right: 2%;
}

/* UI container */
.ui_container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 20px;
}

.info_container {
  position: absolute;
  width: 30%;
  height: 5%;
  margin-top: 5%;
  display: flex;
}

.player_info_container {
  left: 1.7%;
}

.enemy_info_container {
  right: 1.7%;
  display: inline;
}

/* Medals */
.medal {
  width: 8%;
  height: 80%;
  display: none;
}

.pm1 {
  margin-left: 40%;
}

.pm2 {
  margin-left: 3%;
}

.medal2 {
  position: absolute;
  width: 2.5%;
  height: 4%;
  top: 9%;
  display: none;
}

.em1 {
  left: 88%;
}

.em2 {
  left: 84.7%;
}

/* Health bars */
.health_bar_container {
  position: relative;
  width: 100%;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.hp_bar {
  width: 100%;
  background-color: red;
  height: 30px;
}

.enemy_hp_bar,
.player_hp_bar {
  position: absolute;
  background-color: #818cf8;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.enemy_hp_bar {
  left: 0;
}

.player_hp_container {
  display: flex;
  justify-content: flex-end;
  border-left: 4px solid white;
}

.enemy_hp_container {
  border-right: 4px solid white;
}

/* Timer */
.timer {
  background-color: #85214f;
  border: 4px solid white;
  width: 100px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Press Start 2P", cursive;
}

/* Game end UI */
.game_end_ui {
  position: absolute;
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Press Start 2P", cursive;
}

.restart {
  color: #861c48;
  top: 10%;
}

/* Instruction UI */
.instruction_title,
.hint,
.start_text {
  position: absolute;
  font-family: "Press Start 2P", cursive;
  color: white;
}

.instruction_title {
  bottom: 90%;
  font-size: 130%;
}

.hint {
  width: 50%;
  top: 80%;
  left: 25%;
  font-size: 65%;
  text-align: center;
}

.start_text {
  bottom: 85%;
  font-size: 100%;
}

/* Intro container */
.intro_container {
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
}

/* Control container */
.control_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 0 10% 5%;
}

.control p {
  margin-top: 2%;
  font-size: 60%;
}

/* Player and enemy pictures */
.player_pic,
.enemy_pic {
  width: 40%;
  height: 40%;
  margin-right: 50%;
}

/* Main background */
.main_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
}

/* Hint music */
.hint_music {
  color: peachpuff;
  top: 90%;
}
